---
layout: default
slug: blog
title: "Blog"
---

<section class="content">
  {% include breadcrumb.html %}
  <div class="feed-list">
    {% for post in site.posts %}
      <a href="{{ post.url }}" class="feed-item">
        <img src="{{ post.thumb }}" alt="Cover of {{ post.title }}" class="feed-item_image">
        <div class="feed-author">
          <img src="https://www.gravatar.com/avatar/{{ post.author.email | remove: ' ' | strip_newlines | downcase | md5 }}?s=50&d=blank" alt="{{ post.author.name }} avatar" class="feed-author_image">
          <span class="feed-author_name">by {{ post.author.name }}</span>
        </div>
        <h3 class="feed-item_title">{{ post.title }}</h3>
        <time class="feed-item_date" pubdate datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
      </a>
    {% endfor %}
    </div>
</section>

{% include sidebar.html %}
