---
layout: default
slug: home
title: "Devnspiration"
description: "Devnspiration is a place for daily inspiration to developers."
image: "https://user-images.githubusercontent.com/3299130/33510547-448e1342-d6f4-11e7-8380-d7f0ef3d1e2c.png"
author:
  twitter: "devnspiration"
---

{% if page.slug == 'home' %}
  <h1 class="main-title">{{ site.description }}</h1>
{% endif %}

<section class="blog-posts">
  <h3 class="blog-posts_title">Latest articles</h3>

  <div class="posts-carousel">
    {% for post in site.posts %}
    <a href="{{ post.url }}" class="posts-carousel_item">
        <img src="{{ post.thumb }}" class="posts-carousel_image" alt="{{ post.title }}">
        <h4 class="posts-carousel_title">{{ post.title }}</h4>
      </a>
    {% endfor %}
    <a href="/blog" class="posts-more" title="Show all posts">+</a>
  </div>
</section>
