@mixin card-post
  overflow: hidden
  display: block
  background-color: $color-light
  border-radius: .3125rem
  box-shadow: 0 .1875rem .3125rem rgba(0,0,0,0.05)
  
  @media (min-width: 64rem)
    margin-right: 1.875rem

@mixin card-title
  margin: 0 auto .625rem
  font:
    weight: 600
  color: lighten($color-dark, 48%)

@mixin card-date
  font-size: .875rem
  color: lighten($color-dark, 68%)
