@font-face
  font:
    family: 'Proxima Nova'
    weight: 900
    style: normal
  src: url('/assets/fonts/proxima-nova--black.eot')
  src: url('/assets/fonts/proxima-nova--black.eot.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/proxima-nova--black.eot.woff2') format('woff2'),
        url('/assets/fonts/proxima-nova--black.eot.woff') format('woff'),
        url('/assets/fonts/proxima-nova--black.eot.ttf') format('truetype'),
        url('/assets/fonts/proxima-nova--black.eot.svg#proxima_nova_altblack') format('svg')

@font-face
  font:
    family: 'Proxima Nova'
    weight: 600
    style: normal
  src: url('/assets/fonts/proxima-nova--bold.eot')
  src: url('/assets/fonts/proxima-nova--bold.eot.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/proxima-nova--bold.eot.woff2') format('woff2'),
        url('/assets/fonts/proxima-nova--bold.eot.woff') format('woff'),
        url('/assets/fonts/proxima-nova--bold.eot.ttf') format('truetype'),
        url('/assets/fonts/proxima-nova--bold.eot.svg#proxima_nova_altbold') format('svg')

@font-face
  font:
    family: 'Proxima Nova'
    weight: 300
    style: normal
  src: url('/assets/fonts/proxima-nova--regular.eot')
  src: url('/assets/fonts/proxima-nova--regular.eot.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/proxima-nova--regular.eot.woff2') format('woff2'),
        url('/assets/fonts/proxima-nova--regular.eot.woff') format('woff'),
        url('/assets/fonts/proxima-nova--regular.eot.ttf') format('truetype'),
        url('/assets/fonts/proxima-nova--regular.eot.svg#proxima_nova_altregular') format('svg')
