.post

  .main
    @extend %flexbox
    +justify-content(space-between)

    .content
      width: 100%

      @media (min-width: 64rem)
        max-width: 75%

.post-item
  @include card-post
  position: relative
  padding-bottom: .9375rem

  &:hover > .post-social
    @media (min-width: 26.25rem)
      opacity: 1

.post-header
  margin-bottom: 1.875rem
  text-align: center

.post-cover
  @include card-cover

.post-author
  @include author

  &_image
    @include author-img
    width: 4.6875rem
    height: 4.6875rem

  &_name
    @include author-name

.post-title
  @include card-title
  font:
    size: 2.25rem
    weight: 900

.post-date
  @include card-date

.post-content

  a
    color: #4596ea
    text-decoration:
      line: underline
      skip: ink

    &:hover
      text-decoration: none

  p
    margin:
        top: 1rem
        right: 1rem
        left: 1rem

    font-size: 1.125rem
    color: lighten($color-dark, 44%)
    line-height: 1.4375rem
    
    @media (min-width: 64rem)
      margin:
        right: 3.125rem
        left: 3.125rem

  strong
    font-weight: 600

  code
    padding: .0625rem .3125rem .1875rem
    font-size: .95rem
    vertical-align: top
    border-radius: 3px
    background-color: lighten($color-dark, 93%)

  h2
    margin:
        top: 1rem
        right: 1rem
        left: 1rem

    @media (min-width: 64rem)
      margin:
        top: 3.125rem
        right: 3.125rem
        left: 3.125rem
    font-weight: 600

.post-comments
  margin:
      top: 1rem
      right: 1rem
      left: 1rem

  @media (min-width: 64rem)
    margin:
      top: 3.125rem
      right: 3.125rem
      left: 3.125rem
