.post

  .main
    @extend %flexbox
    +justify-content(space-between)

    .content
      width: 100%

      @media (min-width: 64rem)
        max-width: 75%

.post-item
  @include card-post
  padding-bottom: .9375rem

.post-header
  margin-bottom: 1.875rem
  text-align: center

.post-cover
  @include card-cover

.post-author
  @include author

  &_image
    @include author-img
    width: 4.6875rem
    height: 4.6875rem

  &_name
    @include author-name

.post-title
  @include card-title
  font-size: 2.25rem

.post-date
  @include card-date

.post-content

  a
    color: #4596ea
    text-decoration:
      line: underline
      skip: ink

    &:hover
      text-decoration: none

  p
    margin:
      right: 3.125rem
      left: 3.125rem
    font-size: 1.125rem
    color: lighten($color-dark, 44%)
    line-height: 1.4375rem

  strong
    font-weight: 600

  h2
    margin:
      top: 3.125rem
      right: 3.125rem
      left: 3.125rem
    font-weight: 600

.post-comments
  margin:
    top: 3.125rem
    right: 3.125rem
    left: 3.125rem
