.header-menu
  @extend %flexbox
  +align-items(center)

.header-menu_item
  font:
    size: .875rem
    weight: 600
  text-transform: uppercase
  color: lighten($color-dark, 65%)

  &:hover
    color: $color-dark

  &:not(:last-child)
    margin-right: 1.875rem
