.blog-posts_title
  margin: 0 0 1.5625rem
  font:
    size: 1.1875rem
    weight: 600
  text-transform: uppercase
  color: lighten($color-dark, 65%)

.posts-carousel
  @extend %flexbox
  +align-items(stretch)

.posts-more
  @extend %flexbox
  +align-items(center)
  +justify-content(center)
  width: 15.625rem
  font:
    size: 3.75rem
    weight: 900
  color: lighten($color-dark, 44%)
  background-color: lighten($color-dark, 93%)
  border-radius: .3125rem
