---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/Blog{% if page.slug != 'home' %}Posting{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.slug == 'home' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">

  <!-- Schema.org -->
  <meta itemprop="{% if page.slug == 'home' %}creator{% else %}author{% endif %}" content="{{ page.author.name }}">
  <meta itemprop="name" content="{% if page.slug == 'home' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
  <meta itemprop="description" content="{{ page.description }}">
  <meta itemprop="image" content="{{ page.image }}">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon.png">

  <!-- Facebook OG -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="{{ page.image }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="pt-br">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.username }}">
  <meta name="twitter:creator" content="@{{ page.author.twitter }}">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ page.image }}">
  
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="{{ page.slug }}">
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>
