---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/Blog{% if page.slug != 'home' %}Posting{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">
  
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="{{ page.slug }}">
  <header class="error-header">
    {% include symbol.svg %}
  </header> 
  <main class="main" itemprop="main">
    <article class="error-content">
      <h1 class="error-title">{{ page.title }}</h1>
      <h2 class="error-description">{{ page.description }}</h2>
      <p class="error-text">{{ content }}</p>
      <a href="{{ site.url }}" class="error-button"><span class="button-symbol">←</span> Volte para a home</a>
    </article>
  </main>
</body>
</html>
