---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/Blog{% if page.slug != 'home' %}Posting{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.slug == 'home' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">

  <!-- Schema.org -->
  <meta itemprop="{% if page.slug == 'home' %}creator{% else %}author{% endif %}" content="{{ page.author.name }}">
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ page.description }}">
  <meta itemprop="image" content="{{ page.image.cover }}">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon.png">

  <!-- Facebook OG -->
  <meta property="og:type" content="blog">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="{{ page.image.cover }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="pt-br">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.username }}">
  <meta name="twitter:creator" content="@{{ page.author.twitter }}">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ page.image.cover }}">
  
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="post">
  {% include header.html %}
  <section class="content">
    {% include breadcrumb.html %}
    <article class="post-item">
      <header class="post-header">
        <img src="{{ page.image.cover }}" alt="Capa do {{ page.title }}" class="post-cover">
        <div class="post-author">
          <img src="https://www.gravatar.com/avatar/{{ page.author.email | remove: ' ' | strip_newlines | downcase | md5 }}?s=75&d=blank" alt="{{ page.author.name }} avatar" class="post-author_image">
          <p class="post-author_name">por {{ page.author.name }}</p>
        </div>
        <h3 class="post-title">{{ page.title }}</h3>
        <time class="post-date" pubdate datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%d" }}
          {% assign m = page.date | date: "%-m" %}
          {% case m %}
            {% when '1' %}jan
            {% when '2' %}fev
            {% when '3' %}mar
            {% when '4' %}abr
            {% when '5' %}mai
            {% when '6' %}jun
            {% when '7' %}jul
            {% when '8' %}ago
            {% when '9' %}set
            {% when '10' %}out
            {% when '11' %}nov
            {% when '12' %}dez
          {% endcase %}
          {{ page.date | date: "%Y" }}
        </time>
      </header>
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>
    </article>
  </section>
  {% include sidebar.html %}
  {% include footer.html %}
</body>
</html>
