.footer
  @extend %flexbox
  +align-items(center)
  +justify-content(space-between)
  padding: 3.125rem 6.25rem
  background-color: $color-dark

.footer-copy svg
  width: 6.25rem
  fill: $color-light
